 /* mail list */

 .mail-list {
    font-size: 0.8rem;
     grid-row: 2;
     grid-column: 3;
     font-family: Helvetica, Arial, sans-serif;
     list-style-type: none;
     padding: 5px;
 }

 .mail-list h2{
    color: rgb(176, 176, 176);
 }

 .mail-list li {
     padding: 5px;
     border: 1px solid rgb(176, 176, 176);
     /* height: 1em; */
 }

 .mail-list li:hover {
     cursor: default;
     border: 1px solid gray;
     box-shadow: rgba(186, 186, 186, 0.707) 0.5px 0.5px 1px 1px;
 }

 li:hover .mail-controls {
     display: flex;
 }

 li:hover .time-span {
     display: none;
 }