.top-filter {
    grid-row: 1;
    grid-column: 3;
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.top-filter input {
    width: 100%;
    background-color: #eaf1fb;
    padding: .7em;
    border: none;
    border-radius: 1em;
}

.mail-select {
    display: flex;
    gap: .5em;
}

.top-filter select {
    padding: .5em;
    border: 0.5px solid rgb(176, 176, 176);
    border: none;
    border-radius: 1em;
    background-color: #f6f8fc;
    margin-right: 5px;
}
