 /* home */

 .home {
     font-family: Helvetica, Arial, sans-serif;
     background-color: #f6f8fc;
     text-align: center;
 }

 .home h1 {
     color: #041e49;
     font-size: 2em;
     margin-bottom: 1em;
     padding: 5px;
 }

 .home h2 {
     color: #0a3374;
     margin-bottom: 1em;
 }

 .home h3 {
     color: #4988ed;
     font-size: 2em;
 }

 .our-apps {
     display: flex;
     justify-content: center;
     gap: 1em;
     padding: 1em;
 }

 .to-mail,
 .to-keep {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 2em;
     height: 2em;
     padding: 2em;
     border-radius: 1em;
     border: none;
     background-color: #cddaf2;
 }

 .to-mail:hover,
 .to-keep:hover {
     cursor: pointer;
     scale: 1.1;
     background-color: #0a3374;
 }

 .gmail-logo,
 .keep-logo {
     width: 35px;
 }

 /* .gmail-logo:hover,
 .keep-logo:hover {
     scale: 1.1;
     cursor: pointer;
 } */