 /* note list */
 * {
    font-family: "Roboto", arial, sans-serif; 
}


.note-list { 
    list-style: none;
    column-count: 3; /* Adjust the number of columns as needed */
    column-gap: 1em; /* Adjust the gap between columns */column-gap: 10em;
    gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: center;
    padding:0;
  }

 .note-list .note-card {
     display: block;
     justify-content: space-around;
     justify-self: center; /* Center horizontally within the grid cell */
     align-items: start;
     padding: 1em;
     background: white;
     /* width: 100%; */
     margin-bottom: 5px;
     
     border: 1px solid #e0e1e0;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
     break-inside: avoid; /* Prevent notes from being split across columns */
     page-break-inside: avoid;  
 }

 .note-preview{
    max-width: 100%;
    word-wrap: break-word; /* Allow long words to wrap */
    white-space: normal;
 }

 .note-card h3{
    text-align: center;
    margin-bottom: 1em;
 }

 /* .note-card p{
    font-weight: bold;
 } */

 .note-footer {
     display: flex;
     margin-top: 1em;

     /* padding: 1em 0px; */
     align-self: center;
     gap: 1em;
 }

 .btn-note-remove{
    background: none;
    border: none;
    cursor: pointer;
    /* font-size: 1rem; */
    padding: 0px;
 }

 .btn-note-color-pallet{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
 }

 .color-pallet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    cursor: pointer;
    
    position: absolute;
    z-index: 9999; /* You can adjust the z-index as needed */
    
    /* Additional styling for the color-pallet element if needed */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
 }



 .btn-note-edit{
    background: none;
    border: none;
    cursor: pointer;
    /* font-size: 1rem; */
    padding: 0px;
 }

 @media (max-width: 768px) {
    .note-list {
        columns: 1; /* Single column for smaller screens */
    }
}

/* Media query for medium-sized screens, e.g., tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .note-list {
        columns: 2; /* Two columns for medium-sized screens */
    }
}

/* Default layout for larger screens */
@media (min-width: 1025px) {
    .note-list {
        columns: 3; /* Three columns for larger screens */
    }
}