 /* note list */

 .note-list {
     padding: 15px 0 0;
     list-style: none;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 15px;
 }

 .note-list .note-card {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: start;
     padding: 0.5em;
     /* background-color: grey; */
     background: white;
     width: 240px;
     margin: 10px;
     border: 1px solid #e0e1e0;
     border-radius: 8px;
 }

 .note-footer {
     display: flex;
     margin-top: 1em;

     /* padding: 1em 0px; */
     align-self: center;
     gap: 0.2em;
 }

 