.mail-details {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
}

.mail-details button {
    /* align-self: flex-start; */
    background-color: rgba(0, 0, 255, 0);
    border: none;
}

.mail-details button:hover {
    background-color: gray;
}

.mail-details .mail-subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-details h3 {
    margin-bottom: 1rem;
}

.mail-details h4 {
    font-weight: 100;
    margin-bottom: 1rem;
}

.mail-details p {
    color: gray;
}